[Desktop Entry]
Name=Cinnamon-Layout
Comment=Change interface betweeen different layouts
Exec=cinnamon-layout
Terminal=false
Type=Application
Icon=cinnamon-layout
Categories=Application;System;
OnlyShowIn=X-Cinnamon;
