[Desktop Entry]
Name=Cinnamon-Layout
Comment=Change interface betweeen different layouts
Exec=cinnamon-layout
Terminal=false
Type=Application
Icon=user-desktop
Categories=Application;System;
Keywords=wasta;
OnlyShowIn=X-Cinnamon;
